__pycache__
upload_status
AP_metadata_errors.json
AS_metadata_errors.json
KA_metadata_errors.json
KL_metadata_errors.json
RJ_metadata_errors.json
TG_metadata_errors.json
TN_metadata_errors.json
UP_metadata_errors.json
WB_metadata_errors.json
meilisearch_upload_AP.json
meilisearch_upload_AS.json
meilisearch_upload_KA.json
meilisearch_upload_KL.json
meilisearch_upload_RJ.json
meilisearch_upload_TG.json
meilisearch_upload_TN.json
meilisearch_upload_UP.json
meilisearch_upload_WB.json
